/**
 * @author Jozef 
 * @date 18.2.2019.
 * @description //TODO
 */


.THIS {
    width: 400px;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
}


/*
.THIS input {
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border: solid 1px #dddddd;
}
*/