/**
 * @author Jozef 
 * @date 4.3.2019.
 * @description //TODO
 */
.THIS {

}
/* variant="label-hidden"  does not work*/
.THIS .label-hidden > label {
    display: none;
}


/* DatePicker will overlap table */
.THIS .slds-datepicker {
    padding: 0;
    font-size: .75rem;
    position: fixed !important;
}


.THIS .switchIcon {
    fill: black;
}

.THIS .switchIconOpened {
    transform: rotate(90deg);
    /* transform-origin: 45%; */
}

.THIS .switchIconClosed {
    transform: rotate(0deg);
}

.THIS .tdAlign {
    vertical-align: top;
}

/* Lookup will overlap table
.THIS .slds-listbox {
    font-size: .8125rem;

    position: fixed !important;

    width: 250px;
    margin-left: 35% !important;
}
*/

.THIS .frequency {
     min-width:115px !important;
     /* word-wrap: break-word; */
}

.THIS .subject {
     min-width:200px !important;
     /* word-wrap: break-word; */
}

.THIS .year {
     min-width:80px !important;
}

.THIS .switchButton {
    margin-top: 20px;
}

.THIS.read-table {
     background-color: rgb(255, 255, 255);
     font-size: inherit;

}

.THIS.read-table th.columnHeading {
    padding: 7px 6px;
    font-weight: 400;
    min-width: 120px;

    position: relative;
    border-bottom: 2px solid #ddd;

}

.THIS .sortHeading {
    border-bottom: 2px solid #ddd;
}


.THIS.read-table td {
    padding: .1rem .5rem;
    /* white-space: nowrap; */
    position: relative;
}


.THIS.read-table tbody tr {
    counter-increment: row-number;
}


.THIS.read-table:not(.slds-no-row-hover) tbody tr:hover{
    outline: 0;
    background: #eae9e9;
}

.THIS.read-table:not(.slds-no-row-hover) tbody tr:focus {
    outline: 0;
    background: #eae9e9;
}

.THIS.slds-text-title_caps{
    letter-spacing: 0 !important;
}

.THIS .periodCol1{
    background-color: #eae9e9;
}

.THIS .periodHeading{
    padding: 7px 6px;
    /* font-weight: 400;  - same as other*/
    min-width: 150px;

    position: relative;
    border-bottom: 2px solid #ddd;
}

.THIS .userHeading{
    padding: 7px 6px;
    font-weight: 400;
    min-width: 160px;

    position: relative;
    border-bottom: 2px solid #ddd;
}

.THIS .uploadHeading{
    padding: 7px 6px;
    font-weight: 400;
    min-width: 160px;

    position: relative;
    border-bottom: 2px solid #ddd;
}

.THIS .deleteHeading{
    padding: 7px 6px;
    font-weight: 400;
    min-width: 50px;

    position: relative;
    border-bottom: 2px solid #ddd;
}

/* Date picker width */
.THIS .slds-dropdown{
    max-width: inherit !important;
}

/* Or drop files removed */
.THIS .slds-file-selector_files .slds-file-selector__text{
    display: none;
}

/* Date picker left bottom
.THIS .slds-datepicker.slds-dropdown.slds-dropdown_left {
    top: -2px!important;
    left: 135px !important;
}
*/